body {
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
    background-color: var(--primery-background-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

