%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%title {
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

%list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

%link {
    text-decoration: none;
    color: inherit;
}

